.player {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: rgba(66, 66, 66, 0.5);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    border-top-left-radius: 4px solid #424242;
    box-shadow: 0 0 10px #DEDEDE;
    background: #810081;
}